html{
    font-size: 16px;
}

.carousel-item img {
    width: 100%;
    min-height: 165px;
    height: auto;
    object-fit: cover;
}

.navbar {
    z-index: 1050;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 1000;
}

.featurette img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.fadeToRightClass {
    opacity: 0;
    animation: fade-to-right 1s forwards;
}

@keyframes fade-to-right {
    0% {
        opacity: 0;
        transform: translateX(-180px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

@media (max-width: 768px) {
    html{
        font-size: 14px;
    }
    .carousel-caption h1{
        font-size: 16px;
    }
    .featurette img {
        width: 350px;
        height: 350px;
        object-fit: cover;
        object-position: center;
    }
}