html{
    font-size: 16px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.navbar {
    z-index: 1050;
}
.carousel-control-prev,
.carousel-control-next {
    z-index: 1000;
}

.featurette img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    html{
        font-size: 12px;
    }
}